@use "../forward" as *;
@use "sass:map";

body {
    font-family: "fontname";
    font-weight: 400;
}

@include mediaquery(smartphone) using ($layout) {

    body {
    }
}

@include mediaquery(tablet) using ($layout) {

    body {
    }
}

@include mediaquery(desktop) using ($layout) {

    body {
    }
}
