@use "../forward" as *;
@use "sass:map";

:root {
    --vw: 1vw;
}

@include mediaquery(smartphone) using ($layout) {

    :root {
    }
}

@include mediaquery(tablet) using ($layout) {

    :root {
    }
}

@include mediaquery(desktop) using ($layout) {

    :root {
   }
}
