{% extends "_layout" %}

{% block content %}
    <div>
        {% include '_modules/navigation/navigation.twig' %}
        <section>
            {% include '_modules/blocks/blocks.twig' %}
        </section>
    </div>
{% endblock %}
