@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:math";

@use "../config";

// Media queries get the breakpoints
// Breakpints get the layouts
// Depending on the project, only a part of the layout names are used,
// so there needs to be an intervention in the breakpoints to deliver a number even if a layout is not present.
// Example: There are only the layouts smartphone, tablet and desktop.
// Then tabletPortrait must deliver the value of tablet

$tabletPortrait: null;
@if map.get(config.$layouts, tabletPortrait) {
    $tabletPortrait: tabletPortrait;
// no tabletPortrait size is defined
} @else {
    @if map.get(config.$layouts, tablet) {
        $tabletPortrait: tablet;
    // neither tablet size is defined
    } @else {
        $tabletPortrait: desktop;
    }
}

$bigFrom: null;
@if map.get(config.$layouts, big) {
    $bigFrom: big;
} @else {
    $bigFrom: 999999px;
}

$breakpointsVariables: (
    smartphoneTo:       map.get(config.$breakpoints, $tabletPortrait) - 1px,
    tabletPortraitFrom: map.get(config.$breakpoints, $tabletPortrait) + 0px,
    tabletPortraitTo:   map.get(config.$breakpoints, tabletLandscape) - 1px,
    tabletLandscapeFrom:map.get(config.$breakpoints, tabletLandscape) + 0px,
    tabletLandscapeTo:  map.get(config.$breakpoints, desktop) - 1px,
    desktopFrom:        map.get(config.$breakpoints, desktop) + 0px,
    desktopTo:          map.get(config.$breakpoints, big) - 1px,
    bigFrom:            map.get(config.$breakpoints, big) + 0px,
);

// Gibt es kein Layout big, soll die media query desktop keine max-width haben
$mediaqueryDesktop: null;
@if map.get(config.$layouts, big) {
    $mediaqueryDesktop: (min-width: map.get($breakpointsVariables, desktopFrom), max-width: map.get($breakpointsVariables, desktopTo));
} @else {
    $mediaqueryDesktop: (min-width: map.get($breakpointsVariables, desktopFrom));
}

$mediaqueries: (
	smartphone:         (max-width: map.get($breakpointsVariables, smartphoneTo)),
	tablet:             (min-width: map.get($breakpointsVariables, tabletPortraitFrom), max-width: map.get($breakpointsVariables, tabletLandscapeTo)),
	tabletFrom:         (min-width: map.get($breakpointsVariables, tabletPortraitFrom)),
    tabletTo:           (max-width: map.get($breakpointsVariables, tabletLandscapeTo)),
	tabletPortraitFrom: (min-width: map.get($breakpointsVariables, tabletPortraitFrom)),
	tabletPortrait:     (min-width: map.get($breakpointsVariables, tabletPortraitFrom), max-width: map.get($breakpointsVariables, tabletPortraitTo)),
	tabletPortraitTo:   (max-width: map.get($breakpointsVariables, tabletPortraitTo)),
	tabletLandscapeFrom:(min-width: map.get($breakpointsVariables, tabletLandscapeFrom)),
	tabletLandscape:    (min-width: map.get($breakpointsVariables, tabletLandscapeFrom), max-width: map.get($breakpointsVariables, tabletLandscapeTo)),
	tabletLandscapeTo:  (max-width: map.get($breakpointsVariables, tabletLandscapeTo)),
	desktopFrom:        (min-width: map.get($breakpointsVariables, desktopFrom)),
	desktop:            $mediaqueryDesktop,
	desktopTo:          (max-width: map.get($breakpointsVariables, desktopTo)),
	big:                (min-width: map.get($breakpointsVariables, bigFrom)),
);


// Font
@mixin font($layout, $fontSize, $lineHeight, $bold:'false') {

    font-size: size($layout, $fontSize);
    line-height: size($layout, $lineHeight);

    @if ($bold != 'false') {
        font-weight: $bold;
    }

}


// columns
// Calculates the width (as a fraction of 100%)
// Per default the function assumes that the given space does not contain column gaps;
// with the variable $columnGapsAddedBasis they can be specified.
// $columnGapsAddedBasis is to be used when the space to be calculated contains additional column gaps outside the $columnsBasis.
// $columnGapsAdditional is to be used when additionally to the $columns column gaps are to be added (e.g left and/or right).
// $shift is for adding a value to the result, for example a margin
// $inverse is for calculating the width as a negative number, for example for a negative shift in a stage system
@function columns($layout, $columns, $columnsBasis, $columnGapsAddedBasis:0, $columnGapsAdditional:0, $margin:0, $shift:0, $invers:false) {
    $columnGap: size($layout, map.get(config.$gutter, $layout) );
    $margin: size($layout, $margin);
    $shift: size($layout, $shift);
    @if ( $invers == false ) {
        $invers: 1;
    } @else {
        $invers: -1;
    }

    // available space
    // minus column gaps within the space
    // equals space for content
    // divided by number of columns in space
    // equals width of each column
    // times number of desired columns
    // equals width of desired columns
    // plus column gaps between desired columns
    // equals width of desired columns including gaps
    // plus additional column gaps
    @return calc(
        (
            (
                // available space
                100%
                // all column gaps in the given space
                - $margin - $columnGap * ($columnsBasis + $columnGapsAddedBasis - 1)
            )
            // number of columns in the given space
            / $columnsBasis
            // desired columns
            * ($columns * $invers)
            // columns gaps between desired columns plus additional column gaps
            // inverse to get a negative value
            + ($columnGap * ($columns - 1 + $columnGapsAdditional) * $invers)
            // Shift
            + ($shift * $invers)
        )
    );
}



// Size
// converts a number to a size in px or vw
// depending on the unit set for the layout
// accepts single value or a list of values
@function size($layout, $numbers) {
    // Check whether second argument is a number or a list
    @if (meta.type-of($numbers) == 'list') {
        $result-list: (); // Empty list to store results

        // Iterate over each element in the list
        @each $number in $numbers {
            // Test if the current element is a number
            @if (meta.type-of($number) == 'number') {
                // add calculated value to the result list
                $result-list: list.append($result-list, _calculate-single-size($number, $layout));
            } @else {
                // Error if the current element is not a number
                @error "Listenelement '#{$number}' übergeben an size() ist keine Zahl. Alle Elemente müssen Zahlen sein.";
            }
        }
        @return $result-list; // Return the list of calculated sizes
    } @else if (meta.type-of($numbers) == 'number') {
        // If second argument is a single number, calculate and return the size
        @return _calculate-single-size($numbers, $layout);
    } @else {
        // Error if the second argument is neither a number nor a list
        @error "Das zweite Argument der Funktion size() muss eine Zahl oder eine Liste von Zahlen sein. Empfangen: #{type-of($numbers)} '#{$numbers}'.";
    }
}

// Round a number to specified decimal places
@function _decimal-round($number, $digits: 0) {
    $n: math.pow(10, $digits);
    @return math.div(math.round($number * $n), $n);
}

// Helper function to calculate a single size value (px or vw)
// This function is used by the main size() function
@function _calculate-single-size($number, $layout) {
    // Get the width and unit type from the config
    $width: map.get(config.$layouts, $layout);
    $unit-type: map.get(config.$units, $layout);

    // Error handling for missing width or unit type
    @if ($width == null) {
        @error "Layout '#{$layout}' ist nicht in 'config.$layouts' definiert.";
    }
    @if ($unit-type == null) {
        @error "Der Einheitentyp für Layout '#{$layout}' ist nicht in 'config.$units' definiert.";
    }


    @if ($unit-type == 'px') {
        @return $number * 1px;
    } @else if ($unit-type == 'vw') {
        @return _decimal-round(math.div($number, $width) * 100, 2) * 1vw;
    } @else {
        @error "Nicht unterstützter Einheitstyp '#{$unit-type}' für Layout '#{$layout}'. Nur 'px' oder 'vw' werden unterstützt.";
    }
}


// Distance
@mixin marginPadding($layout, $mode, $position, $top: 0, $right: 0, $bottom: 0, $left: 0) {

    // @include mode($layout, padding/margin, all/top/right/bottom/left, 0, 0, 0, 0) 

    @if ( map.get(config.$units, $layout) == 'px' ) {
        $top: $top + px;
        $right: $right + px;
        $bottom: $bottom + px;
        $left: $left + px;
    } @else {

        @if meta.type-of($top) == 'number'{
            $top: size($layout, $top);
        } 
        @if meta.type-of($right) == 'number'{
            $right: size($layout, $right);
        } 
        @if meta.type-of($bottom) == 'number'{
            $bottom: size($layout, $bottom);
        } 
        @if meta.type-of($left) == 'number'{
            $left: size($layout, $left);
        } 
    }
    
    @if $position == all {
        #{$mode}: $top $right $bottom $left;
    }
    @if $position == top {
        #{$mode}-top: $top;
    }
    @if $position == right {
        #{$mode}-right: $right;
    }
    @if $position == bottom {
        #{$mode}-bottom: $bottom;
    }
    @if $position == left {
        #{$mode}-left: $left;
    }
}