@use "../scss/forward" as *;
@use "sass:map";

// set box-sizing from content-box to border-box
// padding and border become part of width/height definitions
html {
    box-sizing: border-box;
    overflow-x: clip;
}
*, *:after, *:before { 
	box-sizing: border-box;
}

body {

    background-color: map.get($colors, background);
    margin: 0 auto;

    min-height: 100dvh;
    overflow-x: clip;
    display: flex;
    flex-direction: column;

    // skip underlines at descenders
    text-decoration-skip-ink: auto;

    // font smoothing
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@supports not (overflow: clip) {
    html,
    body {
        overflow-x: hidden;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    position: relative;
    
    &::before { 
        content: "–";
        left: 0;
        position: absolute;      
    }
}

sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}


svg {
    display: block;
    width: 100%;
}

// remove focus outline when not set keyboard
// https://css-tricks.com/keyboard-only-focus-styles/
// focus set not by keyboard
*:focus:not(:focus-visible) {
    outline: none !important;
}
// focus set by keyboard
*:focus-visible { 
    outline: 2px solid black;
}

// Alt Text unsichtbar machen, aber für Screenreader lesbar halten
// Bilder als Block statt als Inline anzeigen. Das löst das Problem von unerwünschten Pixeln unterhalb des Bildes.
picture {
    width: 100%;
}

img {
    color: transparent;
    display: block;
    line-height: 1em;
    text-indent: -9999px;
    width: 100%;
    height: auto;
}

.bild {
    width: 100%;
}